@inject IUsersPhotoService PhotoService

@model TodayBirthDaysViewModel

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">
            <span class="fas fa-calendar" aria-hidden="true"></span>
            تولدهای امروز
        </h5>
    </div>
    <ul id="voteslist" class="list-group list-group-flush">
        @foreach (var user in Model.Users)
        {
            var photoUrl = PhotoService.GetUserPhotoUrl(user.PhotoFileName);
            <li class="list-group-item d-flex justify-content-between align-items-center" role="presentation">
                <img class="img-thumbnail userImage" src="@photoUrl" alt="@user.DisplayName" asp-append-version="true"
                     onerror="this.style.visibility = 'hidden';this.width = 0;this.height = 0;" />
                <a asp-action="Index" asp-controller="UserCard" asp-area="@AreaConstants.IdentityArea" asp-route-id="@user.Id">@user.DisplayName</a>
                <span class="badge badge-info badge-pill">@user.BirthDate.Value.GetAge().ToPersianNumbers()</span>
            </li>
        }
    </ul>
    @if (Model.AgeStat.UsersCount > 0)
    {
        <div class="card-footer d-flex justify-content-between align-items-center">
            <span>
                میانگین سنی کاربران
            </span>
            <span class="badge badge-info badge-pill"><abbr title="@Model.AgeStat.MinMax">@Model.AgeStat.AverageAge.ToPersianNumbers()</abbr></span>
        </div>
    }
</div>