@model OnlineUsersViewModel
@inject IUsersPhotoService PhotoService

@{
    var minutes = Model.MinutesToTake.ToPersianNumbers();
    var usersCount = Model.NumbersToTake.ToPersianNumbers();
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">
            <a asp-action="OnlineUsers" asp-controller="UserCard" asp-area="@AreaConstants.IdentityArea">
                <span class="fas fa-object-group" aria-hidden="true"></span>
                @if (Model.ShowMoreItemsLink)
                {
                    <span>کاربران آنلاین در @minutes دقیقه قبل</span>
                }
                else
                {
                    <span>@usersCount کاربر آنلاین در @minutes دقیقه قبل</span>
                }
            </a>
        </h5>
    </div>
    <ul id="voteslist" class="list-group list-group-flush">
        @foreach (var user in Model.Users)
            {
                var photoUrl = PhotoService.GetUserPhotoUrl(user.PhotoFileName);
            <li class="list-group-item d-flex justify-content-between align-items-center" role="presentation">
                <a asp-action="Index" asp-controller="UserCard" asp-area="@AreaConstants.IdentityArea" asp-route-id="@user.Id">
                   <img class="img-thumbnail userImage" src="@photoUrl" alt="@user.DisplayName" asp-append-version="true"
                     onerror="this.style.visibility = 'hidden';this.width = 0;this.height = 0;" />
                    @user.DisplayName
                </a>
                @if (!Model.ShowMoreItemsLink)
                {
                    <span class="badge badge-info badge-pill">@user.LastVisitDateTime.Value.ToFriendlyPersianDateTextify()</span>
                }
            </li>
        }
    </ul>
    @if (Model.ShowMoreItemsLink && Model.Users.Any())
    {
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <a class="previous pagerSpan float-left" asp-area="@AreaConstants.IdentityArea"
                       asp-action="OnlineUsers" asp-controller="UserCard">
                        بیشتر
                        <span aria-hidden="true">←</span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>