@model OnlineUsersViewModel
@inject IUsersPhotoService PhotoService

@{
    var minutes = Model.MinutesToTake.ToPersianNumbers();
    var usersCount = Model.NumbersToTake.ToPersianNumbers();
}

<div class="panel panel-default top30">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a asp-action="OnlineUsers" asp-controller="UserCard" asp-area="@AreaConstants.IdentityArea">
                <span class="fas fa-group" aria-hidden="true"></span>
                @if (Model.ShowMoreItemsLink)
                {
                    <span>کاربران آنلاین در @minutes دقیقه قبل</span>
                }
                else
                {
                    <span>@usersCount کاربر آنلاین در @minutes دقیقه قبل</span>
                }
            </a>
        </h3>
    </div>
    <ul id="voteslist" class="list-group">
        @foreach (var user in Model.Users)
            {
                var photoUrl = PhotoService.GetUserPhotoUrl(user.PhotoFileName);
            <li class="list-group-item" role="presentation">
                <img class="img-circle userImage" src="@photoUrl" alt="@user.DisplayName" asp-append-version="true"
                     onerror="this.style.visibility = 'hidden';this.width = 0;this.height = 0;" />
                <a asp-action="Index" asp-controller="UserCard" asp-area="@AreaConstants.IdentityArea" asp-route-id="@user.Id">@user.DisplayName</a>
                @if (!Model.ShowMoreItemsLink)
                {
                    <span class="badge pull-left">@user.LastVisitDateTime.Value.ToFriendlyPersianDateTextify()</span>
                }
            </li>
        }
    </ul>
    @if (Model.ShowMoreItemsLink && Model.Users.Any())
    {
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <a class="previous pagerSpan pull-left" asp-area="@AreaConstants.IdentityArea"
                       asp-action="OnlineUsers" asp-controller="UserCard">
                        بیشتر
                        <span aria-hidden="true">←</span>
                    </a>
                </div>
            </div>
        </div>
    }
</div>