@model UserCardItemViewModel

@{
    var user = Model.User;
}

<div class="mt-5">
  <div class="row">
    <div class="col-md-7">
       <div class="table-responsive">
        <table id="all-roles-list" class="table table-striped table-hover table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="text-center">ویژگی کاربری</th>
                <th class="text-center">وضعیت</th>
                <th class="text-center">اختیارات</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-user"></span>
                    <strong>نام کاربری</strong>
                </td>
                <td class="text-center">@user.UserName</td>
                <td class="text-center">
                    <a asp-controller="UserProfile"
                       asp-action="AdminEdit"
                       asp-route-id="@user.Id"
                       class="btn btn-info btn-sm">
                        ویرایش مشخصات
                        <span aria-hidden="true" class="fas fa-edit"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-user-circle"></span>
                    <strong>وضعیت کاربری</strong>
                </td>
                <td class="text-center">
                    @if (user.IsActive)
                    {
                        <span class="badge badge-success badge-pill text-white">فعال</span>
                    }
                    else
                    {
                        <span class="badge badge-warning badge-pill text-white">غیرفعال</span>
                    }
                </td>
                <td class="text-center">
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserStat"
                          role="form"
                          data-ajax="true"
                          data-ajax-alert-confirm="وضعیت کاربری @user.DisplayName تغییر کند؟"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @if (user.IsActive)
                        {
                            <input name="activate" value="false" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                غیرفعال شود
                                <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                            </button>
                        }
                        else
                        {
                            <input name="activate" value="true" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                فعال شود
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        }
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-envelope"></span>
                    <strong>
                        وضعیت ایمیل
                    </strong>
                </td>
                <td class="text-center">
                    @if (user.EmailConfirmed)
                    {
                        <span class="badge badge-success badge-pill text-white">تائید شده</span>
                    }
                    else
                    {
                        <span class="badge badge-warning badge-pill text-white">تائید نشده</span>
                    }
                </td>
                <td class="text-center">
                    @if (!user.EmailConfirmed)
                    {
                        <form method="post"
                              asp-controller="UsersManager"
                              asp-action="ActivateUserEmailStat"
                              role="form"
                              data-ajax="true"
                              data-ajax-begin="dataAjaxBegin"
                              data-ajax-success="dataAjaxSuccess"
                              data-ajax-failure="dataAjaxFailure"
                              data-ajax-update="#usercard-@user.Id">
                            <input name="userId" value="@user.Id" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                تائید شود
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        </form>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-lock"></span>
                    <strong>
                        امکان قفل شدن اکانت
                    </strong>
                </td>
                <td class="text-center">
                    @if (user.LockoutEnabled)
                    {
                        <span class="badge badge-success badge-pill text-white">فعال</span>
                    }
                    else
                    {
                        <span class="badge badge-warning badge-pill text-white">غیرفعال</span>
                    }
                </td>
                <td class="text-center">
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserLockoutMode"
                          role="form"
                          data-ajax="true"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @if (user.LockoutEnabled)
                        {
                            <input name="activate" value="false" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                غیرفعال شود
                                <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                            </button>
                        }
                        else
                        {
                            <input name="activate" value="true" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                فعال شود
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        }
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-calendar-check"></span>
                    <strong>
                        زمان خاتمه قفل شدن اکانت
                    </strong>
                </td>
                <td class="text-center">
                    @if (user.LockoutEnd != null)
                    {
                        @user.LockoutEnd.Value.ToFriendlyPersianDateTextify().ToPersianNumbers()
                    }
                </td>
                <td class="text-center">
                    @if (user.LockoutEnd != null)
                    {
                        <form method="post"
                              asp-controller="UsersManager"
                              asp-action="EndUserLockout"
                              role="form"
                              data-ajax="true"
                              data-ajax-begin="dataAjaxBegin"
                              data-ajax-success="dataAjaxSuccess"
                              data-ajax-failure="dataAjaxFailure"
                              data-ajax-update="#usercard-@user.Id">
                            <input name="userId" value="@user.Id" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                رفع قفل
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        </form>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <span aria-hidden="true" class="fas fa-user-secret"></span>
                    <strong>
                        اعتبارسنجی دو مرحله‌ای
                    </strong>
                </td>
                <td class="text-center">
                    @if (user.TwoFactorEnabled)
                    {
                        <span class="badge badge-success badge-pill text-white">فعال</span>
                    }
                    else
                    {
                        <span class="badge badge-warning badge-pill text-white">غیرفعال</span>
                    }
                </td>
                <td class="text-center">
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserTwoFactorAuthenticationStat"
                          role="form"
                          data-ajax="true"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @if (user.TwoFactorEnabled)
                        {
                            <input name="activate" value="false" type="hidden" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                غیرفعال شود
                                <span aria-hidden="true" class="fas fa-thumbs-down"></span>
                            </button>
                        }
                        else
                        {
                            <input name="activate" value="true" type="hidden" />
                            <button type="submit" class="btn btn-info btn-sm">
                                فعال شود
                                <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                            </button>
                        }
                    </form>
                </td>
            </tr>
           </tbody>
        </table>
       </div>
    </div>
    <div class="col-md-5">
       <div class="table-responsive">
        <table id="all-roles-list" class="table table-striped table-hover table-bordered">
            <thead class="thead-light">
              <tr>
                <th class="text-center">
                    <span aria-hidden="true" class="fas fa-id-badge"></span>
                    نقش‌های سیستم
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <form method="post"
                          asp-controller="UsersManager"
                          asp-action="ChangeUserRoles"
                          role="form"
                          data-ajax="true"
                          data-ajax-begin="dataAjaxBegin"
                          data-ajax-success="dataAjaxSuccess"
                          data-ajax-failure="dataAjaxFailure"
                          data-ajax-update="#usercard-@user.Id">
                        <input name="userId" value="@user.Id" type="hidden" />
                        @foreach (var role in Model.Roles)
                        {
                            var selected = user.Roles.Any(userRole => userRole.RoleId == role.Id) ? "checked" : "";
                            <div>
                                <input type="checkbox" name="roleIds" value="@role.Id" @selected />
                                @role.Name
                            </div>
                        }
                        <button type="submit" class="btn btn-info btn-sm top10">
                            اعمال تغییرات نقش‌ها
                            <span aria-hidden="true" class="fas fa-thumbs-up"></span>
                        </button>
                    </form>
                </td>
              </tr>
            </tbody>
        </table>
       </div>
    </div>
  </div>
</div>