@model UserCardItemViewModel
@inject IUsersPhotoService PhotoService

@{
    var user = Model.User;
    var photoUrl = PhotoService.GetUserPhotoUrl(user.PhotoFileName);
}

<div class="mt-5">
   <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="@photoUrl" alt="@user.DisplayName" asp-append-version="true"
                     onerror="this.style.visibility = 'hidden';this.width=0; this.height=0;" />
        </div>
   </div>
   <div class="row mt-4">
      <div class="col-md-6">
        <ul class="list-unstyled">
            <li>
                <span aria-hidden="true" class="fas fa-user"></span>
                <strong>عضو شماره:</strong> @user.Id.ToPersianNumbers()
            </li>
            <li>
                <span aria-hidden="true" class="fas fa-clock"></span>
                <strong>تاریخ عضویت: </strong><span dir="ltr">
                    <abbr title="@user.CreatedDateTime.Value.ToFriendlyPersianDateTextify().ToPersianNumbers()">
                        @user.CreatedDateTime.Value.ToShortPersianDateString().ToPersianNumbers()
                    </abbr>
                </span>
            </li>

            @if (user.IsEmailPublic)
            {
                <li>
                    <span aria-hidden="true" class="fas fa-envelope"></span>
                    <img src="@Url.Action(action: "EmailToImage", controller:"UserCard", values: new { id = user.Id })"
                         asp-append-version="true"
                         alt="@user.DisplayName Email" />
                </li>
            }

            @if (!string.IsNullOrWhiteSpace(user.Location))
            {
                <li>
                    <span aria-hidden="true" class="fas fa-home"></span>
                    <strong>محل اقامت:</strong>
                    @user.Location
                </li>
            }

            @if (user.LastVisitDateTime != null)
            {
                <li>
                    <span aria-hidden="true" class="fas fa-calendar-check"></span>
                    <strong>آخرین مراجعه:</strong>
                    @user.LastVisitDateTime.Value.ToFriendlyPersianDateTextify().ToPersianNumbers()
                </li>
            }
        </ul>

    </div>
    <div class="col-md-6">
        <ul class="list-unstyled">
            @if (user.BirthDate.HasValue)
            {
                <li>
                    <span aria-hidden="true" class="fas fa-calendar"></span>
                    <strong>سن:</strong>
                    <abbr title="@user.BirthDate.Value.ToString("yyyy/MM/dd", CultureInfo.InvariantCulture), @user.BirthDate.Value.ToShortPersianDateString()">
                        @user.BirthDate.Value.GetAge().ToPersianNumbers()
                    </abbr>
                </li>
            }
        </ul>
    </div>
   </div>
</div>