@model UserProfileUpdateNotificationViewModel
@{
    Layout = "~/Areas/Identity/Views/EmailTemplates/_EmailsLayout.cshtml";
}
&nbsp; با سلام
<br />
&nbsp; تنظیمات حساب کاربری شما با مشخصات ذیل ویرایش گردید:
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    نام کاربری (جهت لاگین) : @Model.User.UserName
    <br />
    نام مستعار (جهت نمایش در سایت) : @Model.User.DisplayName
</div>
<br />
<br />
&nbsp;با احترام<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>

<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />